.navbar {
    height: 100vh;
    display: flex;
    position:fixed;
    left: 10px;
    top:0;
    flex-direction:column;
    text-align: left;
    text-decoration-line: none;
    text-decoration-color: none;

    justify-content: center;
    align-items: flex-start;
    z-index: 100;

}

.navbaritem {
    text-align: right;
    line-height: 5rem;
    font-weight: 100;
    font-size:1rem;
    color:#707070;
}

.navbaritem a{
    text-decoration: none;
    color:#707070;
    font-weight: 100;
}

.navbaritem a:hover{
    text-decoration: none;
    color:#707070;
}

.homebutton{
    position: fixed;
    top: 10px;
    left: 10px;
    line-height: 2rem;
    z-index: 101;
}
.homebutton img{
    height: 2rem;
}


@keyframes blurlast
{
from {filter: blur(0);}
to {filter: blur(4px);}
}

@-moz-keyframes blurlast /* Firefox */
{
from {filter: blur(0);}
to {filter: blur(4px);}
}

@-webkit-keyframes blurlast /* Safari 和 Chrome */
{
from {filter: blur(0);}
to {filter: blur(4px);}
}

@-o-keyframes blurlast /* Opera */
{
from {filter: blur(0);}
to {filter: blur(4px);}
}
.homebutton img:hover{
    animation: blurlast 0.5s;
    -moz-animation: blurlast 1s;	/* Firefox */
    -webkit-animation: blurlast 1s;	/* Safari 和 Chrome */
    -o-animation: blurlast 1s;    
    filter:blur(4px);

}

@media screen and (max-width: 700px) {
    .navbar{
        position: fixed;
        top:0px;
        padding-top:10px;
        left:0;
        width:80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 2rem;
        line-height: 2rem;
        z-index: 100;
    }
    .navbaritem{
        display: flex;
        flex-direction: row;
        line-height: 2rem;
        text-align: left;
        font-weight: 20;
        font-size:0.7rem;
        color:#707070;
    }
}



