.navbar {
    height: 100vh;
    display: flex;
    position:fixed;
    right: 10px;
    top:0;
    flex-direction:column;
    text-align: right;
    text-decoration-line: none;
    text-decoration-color: none;

    justify-content: center;
    /* align-items: flex-end; */
    z-index: 100;

}

.navbaritem {
    text-align: right;
    line-height: 0.5rem;
    font-weight: 20;
    font-size:0.1rem;
    color:#707070;
}

.navbaritem a{
    text-decoration: none;
    color:#707070;
    font-weight: 50;
}

.homebutton{
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 101;
}
.homebutton img{
    height: 0.2rem;
}


@keyframes blurlast
{
from {filter: blur(0);}
to {filter: blur(4px);}
}

@-moz-keyframes blurlast /* Firefox */
{
from {filter: blur(0);}
to {filter: blur(4px);}
}

@-webkit-keyframes blurlast /* Safari 和 Chrome */
{
from {filter: blur(0);}
to {filter: blur(4px);}
}

@-o-keyframes blurlast /* Opera */
{
from {filter: blur(0);}
to {filter: blur(4px);}
}
.homebutton img:hover{
    animation: blurlast 0.5s;
    -moz-animation: blurlast 1s;	/* Firefox */
    -webkit-animation: blurlast 1s;	/* Safari 和 Chrome */
    -o-animation: blurlast 1s;    
    filter:blur(4px);

}



