.landingpage{
    width:100%;
    height: calc(100vh);
    display: flex;
    flex-direction: row;
    text-align: center;
}

.mainsection{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.myname{
    display: flex;
    flex-direction: row;
    color:#707070;
    font-size:6rem;
    font-weight:100;
    line-height: 15rem;
    text-align: center;
}

.logo{
    display: flex;
}
.arrow{
    display: flex;
    margin-top:5%;
}
.logo img{
    opacity: 0.7;
    margin-left:auto;
    margin-right:auto;
    height: 2rem;
    width:auto;
}
.arrow img{
    margin-left:auto;
    margin-right:auto;
    height: 0.4rem;
}

@media screen and (max-width: 480px) {
    .myname{
        font-size: 4rem;
    }
}


