.landingpage{
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgb(26,26,27);
}
.skullwrap{
    width:20rem;
    margin-left:10%;
    height: auto;
    align-content: center;
}

.skull{
    margin: 30% 30% ;
    width:20rem;
}



