.socialSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* border:solid; */
   
}
.socialMedia{
    display: flex;
    flex-direction: row;
    flex: 50%;
    /* border:solid; */
    /* justify-content: flex-end; */
    /* height:0.5rem;
    width:0.5rem; */
    /* align-items: flex-end; */
}
.socialMedia img{
    height: 4rem;
    width:4rem;
    transition: all .07s ease;

}
.socialMedia img:hover{
    transform: scale(1.1);
}

